
.heading1{
   display: flex;
   justify-content: space-around;
   width:100%;
   height: 40px;
   /* border:1px solid red; */
   background-color: rgb(244, 190, 240);
   border-radius: 5px;
}
.btn{
   margin-top: 8px;
   width:150px;
   height: 25px;
   border-radius: 5px;
   color:white;
   background-color: rgb(244, 190, 240);
  

}
.details{
   margin-top: 5px;
}
.heading2{
   display: flex;
   background-color: aliceblue;
   height: 60px;
   /* border:1px solid red; */
   justify-content: space-between;
   border-radius: 5px;
}
.btn1{
   background-color: rgb(14, 79, 190);
   border-radius: 5px;
   color:rgb(231, 225, 225);
   width:100px;
   height: 35px;
   margin-top: 10px;
}
.pic{
   width: 100%;
   height: 500px;
   /* border:1px solid red */
}
.img{
   width:100%;
   height: 100%;
}
.des{
   display: flex;
   justify-content: space-evenly;
   width:100%;
   height: 150px;
   /* border:1px solid red; */
   background-color: pink;

}
.des h1{
   margin: auto;
   color:white;

}
.about{
   display: flex;
   justify-content: space-around;
   /* border: 1px solid red; */
   width:100%;
   height: 400px;

}

.h1{
   text-align: center;
   color: rgb(233, 134, 13);
}
.h3{
   text-align: center;
   color:rgb(239, 183, 162)
}

.footer{
   display: flex;
   justify-content: space-evenly;
   /* border: 1px solid red; */
   background-color: rgb(246, 183, 233);
   height: 400px;
}

.img1{
   width:100%;
   height: 50%;
   margin-top:70px;

}

.foot{
   display: flex;
   width:100%;
   height: 400px;
   /* border:1px solid red; */
   background-color: black;
   color:white;
   justify-content: space-around;
   align-items: center;
 

}

.part1{
   width:20%;
   height: 90%;
   /* border:1px solid yellow; */
   
}
.part2{
   width:20%;
   height: 90%;
   /* border:1px solid yellow; */
   display: flex;
   justify-content: space-between;

}
.part3{
   width:20%;
   height: 90%;
   /* border:1px solid yellow; */
   display: flex;
   justify-content: center;
   align-items: center;

}
.part3 input{
    width:200px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;


}
.part3 button{
   width:100px;
   height: 50px;
   border-radius: 10px;
   background-color: aqua;
   color:black
}